In [ ]:
!apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null  
!wget -q https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!tar xf spark-3.3.1-bin-hadoop3.tgz  
!pip install -q findspark
!pip install isbnlib

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,563 kB]
Fetched 1,823 kB in 3s (654 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
9 packages can be upgraded. Run 'apt list --upgradable' to see them.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: isbnlib in /usr/local/lib/python3.7/dist-packages (3.10.12)

In [ ]:
import findspark
findspark.init("spark-3.3.1-bin-hadoop3")
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql import Row
import pyspark.sql.functions as f
from pyspark.sql.functions import format_number
from pyspark.sql.functions import col, split, when
import pandas as pd
spark = SparkSession.builder.appName("Basic").getOrCreate()
import requests as req
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import ltrim
from pyspark.sql.functions import *
from functools import reduce
from pyspark.sql import DataFrame
from isbnlib import is_isbn10, is_isbn13
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import re
from pyspark.sql.functions import col,isnan,when,count
from pyspark.sql.functions import row_number, monotonically_increasing_id
from pyspark.sql import Window
from pyspark.sql.functions import trim
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
Books = spark.read.option("header", True).csv('/content/drive/MyDrive/Books_Rating/DataBase/BX-Books.csv')
Books.show(truncate = False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|"ISBN";"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"                                                                                                                                                                                                                                                  |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|"0195153448";"Classical Mythology";"Mark P. O. Morford";"2002";"Oxford University Press";"http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg"                                                                          |
|"0002005018";"Clara Callan";"Richard Bruce Wright";"2001";"HarperFlamingo Canada";"http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg"                                                                                 |
|"0060973129";"Decision in Normandy";"Carlo D'Este";"1991";"HarperPerennial";"http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg"                                                                                       |
|"0374157065";"Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It";"Gina Bari Kolata";"1999";"Farrar Straus Giroux";"http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg"|
|"0393045218";"The Mummies of Urumchi";"E. J. W. Barber";"1999";"W. W. Norton &amp; Company";"http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg"                                                                       |
|"0399135782";"The Kitchen God's Wife";"Amy Tan";"1991";"Putnam Pub Group";"http://images.amazon.com/images/P/0399135782.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0399135782.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0399135782.01.LZZZZZZZ.jpg"                                                                                         |
|"0425176428";"What If?: The World's Foremost Military Historians Imagine What Might Have Been";"Robert Cowley";"2000";"Berkley Publishing Group";"http://images.amazon.com/images/P/0425176428.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0425176428.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0425176428.01.LZZZZZZZ.jpg"                  |
|"0671870432";"PLEADING GUILTY";"Scott Turow";"1993";"Audioworks";"http://images.amazon.com/images/P/0671870432.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0671870432.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0671870432.01.LZZZZZZZ.jpg"                                                                                                  |
|"0679425608";"Under the Black Flag: The Romance and the Reality of Life Among the Pirates";"David Cordingly";"1996";"Random House";"http://images.amazon.com/images/P/0679425608.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0679425608.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0679425608.01.LZZZZZZZ.jpg"                                |
|"074322678X";"Where You'll Find Me: And Other Stories";"Ann Beattie";"2002";"Scribner";"http://images.amazon.com/images/P/074322678X.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/074322678X.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/074322678X.01.LZZZZZZZ.jpg"                                                                            |
|"0771074670";"Nights Below Station Street";"David Adams Richards";"1988";"Emblem Editions";"http://images.amazon.com/images/P/0771074670.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0771074670.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0771074670.01.LZZZZZZZ.jpg"                                                                        |
|"080652121X";"Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust";"Adam Lebor";"2000";"Citadel Press";"http://images.amazon.com/images/P/080652121X.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/080652121X.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/080652121X.01.LZZZZZZZ.jpg"                                     |
|"0887841740";"The Middle Stories";"Sheila Heti";"2004";"House of Anansi Press";"http://images.amazon.com/images/P/0887841740.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0887841740.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0887841740.01.LZZZZZZZ.jpg"                                                                                    |
|"1552041778";"Jane Doe";"R. J. Kaiser";"1999";"Mira Books";"http://images.amazon.com/images/P/1552041778.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/1552041778.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/1552041778.01.LZZZZZZZ.jpg"                                                                                                        |
|"1558746218";"A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)";"Jack Canfield";"1998";"Health Communications";"http://images.amazon.com/images/P/1558746218.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/1558746218.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/1558746218.01.LZZZZZZZ.jpg"                       |
|"1567407781";"The Witchfinder (Amos Walker Mystery Series)";"Loren D. Estleman";"1998";"Brilliance Audio - Trade";"http://images.amazon.com/images/P/1567407781.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/1567407781.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/1567407781.01.LZZZZZZZ.jpg"                                                 |
|"1575663937";"More Cunning Than Man: A Social History of Rats and Man";"Robert Hendrickson";"1999";"Kensington Publishing Corp.";"http://images.amazon.com/images/P/1575663937.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/1575663937.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/1575663937.01.LZZZZZZZ.jpg"                                  |
|"1881320189";"Goodbye to the Buttermilk Sky";"Julia Oliver";"1994";"River City Pub";"http://images.amazon.com/images/P/1881320189.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/1881320189.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/1881320189.01.LZZZZZZZ.jpg"                                                                               |
|"0440234743";"The Testament";"John Grisham";"1999";"Dell";"http://images.amazon.com/images/P/0440234743.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0440234743.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0440234743.01.LZZZZZZZ.jpg"                                                                                                         |
|"0452264464";"Beloved (Plume Contemporary Fiction)";"Toni Morrison";"1994";"Plume";"http://images.amazon.com/images/P/0452264464.01.THUMBZZZ.jpg";"http://images.amazon.com/images/P/0452264464.01.MZZZZZZZ.jpg";"http://images.amazon.com/images/P/0452264464.01.LZZZZZZZ.jpg"                                                                                |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
Books = Books.withColumnRenamed('"ISBN";"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"', "xx")
Books = Books.withColumn('xx', regexp_replace('xx', '"', ''))

In [ ]:
Books = Books.withColumn('BookNumber', split(Books['xx'], ';').getItem(0)) \
       .withColumn('BookName', split(Books['xx'], ';').getItem(1)) \
       .withColumn('Author', split(Books['xx'], ';').getItem(2)) \
       .withColumn('Year', split(Books['xx'], ';').getItem(3)) \
       .withColumn('Publisher', split(Books['xx'], ';').getItem(4)) \
       .withColumn('one', split(Books['xx'], ';').getItem(5)) \
       .withColumn('two', split(Books['xx'], ';').getItem(6)) \
       .withColumn('three', split(Books['xx'], ';').getItem(7)) \
       .withColumn('four', split(Books['xx'], ';').getItem(8)).drop("xx")
Books = Books.na.fill({'Author': 'unknown','Year': 0, 'Publisher': 'unknown'})

In [ ]:
Books.where("Publisher like '%Penny Frank%' ").show()

+----------+--------+------+----+---------+---+---+-----+----+
|BookNumber|BookName|Author|Year|Publisher|one|two|three|four|
+----------+--------+------+----+---------+---+---+-----+----+
+----------+--------+------+----+---------+---+---+-----+----+

In [ ]:
t = Books.where("rlike(Year,'^[a-zA-Z]*$')")
u = Books.where("Year BETWEEN 0 AND 2050")
v = Books.where("Publisher BETWEEN 0 AND 2050")
w = Books.where("one BETWEEN 0 AND 2050")
x = Books.where("two BETWEEN 0 AND 2050")
y = Books.where("three BETWEEN 0 AND 2050")
z = Books.where("four BETWEEN 0 AND 2050")
xx = t.where("Publisher BETWEEN 0 AND 2050")
zz = t.where("one BETWEEN 0 AND 2050")

In [ ]:
u = u.drop("Publisher", "one", "two", "three", "four").withColumn("Year",col("Year").cast("int"))

v = v.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "Author").withColumnRenamed("Publisher", "Year").withColumnRenamed("one", "Publisher") \
    .withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))).drop("BookName2","Publisher", "two", "three", "four").withColumn("Year",col("Year").cast("int"))

w = w.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "Author").withColumnRenamed("Publisher", "Author2").withColumnRenamed("one", "Year") \
    .withColumnRenamed("two", "Publisher").withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))).withColumn("Author",concat(col("Author"),lit(' -'),col("Author2"))) \
    .drop("BookName2","Author2","Publisher", "three", "four").withColumn("Year",col("Year").cast("int"))

x = x.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "Author").withColumnRenamed("Publisher", "Author2").withColumnRenamed("one", "Author3").withColumnRenamed("two", "Year") \
    .withColumnRenamed("three", "Publisher").withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))).withColumn("Author",concat(col("Author"),lit(' -'),col("Author2"))) \
    .withColumn("Author",concat(col("Author"),lit(' -'),col("Author3"))).drop("BookName2","Author2","Author3","Publisher","four").withColumn("Year",col("Year").cast("int"))

y = y.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "BookName3").withColumnRenamed("Publisher", "Author").withColumnRenamed("one", "Author2").withColumnRenamed("two", "Author3") \
    .withColumnRenamed("three", "Year").withColumnRenamed("four", "Publisher").withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))) \
    .withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName3"))).withColumn("Author",concat(col("Author"),lit(' -'),col("Author2"))) \
    .withColumn("Author",concat(col("Author"),lit(' -'),col("Author3"))).drop("BookName2","BookName3","Author2","Author3","Publisher").withColumn("Year",col("Year").cast("int"))

z = z.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "BookName3").withColumnRenamed("Publisher", "Author").withColumnRenamed("one", "Author2").withColumnRenamed("two", "Author3") \
    .withColumnRenamed("three", "Author4").withColumnRenamed("four", "Year").withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))) \
    .withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName3"))).withColumn("Author",concat(col("Author"),lit(' -'),col("Author2"))).withColumn("Author",concat(col("Author"),lit(' -'),col("Author3"))) \
    .withColumn("Author",concat(col("Author"),lit(' -'),col("Author4"))).drop("BookName2","BookName3","Author2","Author3","Author4").withColumn("Year",col("Year").cast("int"))

xx = xx.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "Author").withColumnRenamed("Publisher", "Year").withColumnRenamed("one", "Publisher") \
    .withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))).drop("BookName2","Publisher", "two", "three", "four").withColumn("Year",col("Year").cast("int"))

zz = zz.withColumnRenamed("Author", "BookName2").withColumnRenamed("Year", "Author").withColumnRenamed("Publisher", "Author2").withColumnRenamed("one", "Year") \
    .withColumnRenamed("two", "Publisher").withColumn("BookName",concat(col("BookName"),lit(' -'),col("BookName2"))).withColumn("Author",concat(col("Author"),lit(' -'),col("Author2"))) \
    .drop("BookName2","Author2","Publisher", "three", "four").withColumn("Year",col("Year").cast("int"))

In [ ]:
df = [u,v,w,x,y,z,xx,zz]
Books = reduce(DataFrame.unionAll, df)

In [ ]:
Books = Books.na.fill(value=0,subset=["Year"]).withColumn("BookNumber",ltrim(col("BookNumber"))).withColumn("BookName",ltrim(col("BookName"))) \
        .withColumn("Author",ltrim(col("Author"))).withColumn("Year",ltrim(col("Year"))).withColumn('BookName', regexp_replace('BookName', "$", '')) \
        .withColumn('BookName', regexp_replace('BookName', "#", '')).withColumn('BookName', regexp_replace('BookName', "�", '')) \
        .withColumn('BookName', regexp_replace('BookName', "-", '')).withColumn('BookName', regexp_replace('BookName', "¿", '')) \
        .withColumn('BookName', regexp_replace('BookName', "°", '')).withColumn('BookName', regexp_replace('BookName', "¶", '')) \
        .withColumn('BookName', regexp_replace('BookName', '/', '')).withColumn('BookName', regexp_replace('BookName', "\*", '')) \
        .withColumn('BookName', regexp_replace('BookName', "\+", ''))
Books = Books.select([f.col(col).alias(re.sub("-","_",col)) for col in Books.columns])
Books = Books.select([f.col(col).alias(re.sub("[^0-9a-zA-Z_$]+","",col)) for col in Books.columns])

In [ ]:
ValidISBN = []
InvalidISBN = []

row_listBOOKS = Books.collect()

for i in row_listBOOKS:
  if (is_isbn10(i.__getitem__('BookNumber')) == True):
    ValidISBN.append(i)
  else:
    InvalidISBN.append(i) 

InvalidISBN_ONLY = []
for i in InvalidISBN:
  InvalidISBN_ONLY.append(i.__getitem__('BookNumber')) 

Books = Books.filter(~col('BookNumber').isin(InvalidISBN_ONLY))

In [ ]:
Books = Books.withColumnRenamed('BookNumber', 'BookBK')
Books = Books.withColumn("Year", when(Books.Year < 1000 ,0).when(Books.Year > 2022 ,0).otherwise(Books.Year))
Books = Books.withColumn("BookSK",row_number().over(Window.orderBy(monotonically_increasing_id()))+100)
DIM_BOOKS = Books.select('BookSK', 'BookBK', 'BookName', 'Author', 'Year')


DIM_BOOKS.show(truncate = False)
DIM_BOOKS.describe().show()

+------+----------+--------------------------------------------------------------------------------------------------+--------------------+----+
|BookSK|BookBK    |BookName                                                                                          |Author              |Year|
+------+----------+--------------------------------------------------------------------------------------------------+--------------------+----+
|101   |0195153448|Classical Mythology                                                                               |Mark P. O. Morford  |2002|
|102   |0002005018|Clara Callan                                                                                      |Richard Bruce Wright|2001|
|103   |0060973129|Decision in Normandy                                                                              |Carlo D'Este        |1991|
|104   |0374157065|Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It|Gina Bari Kolata    |1999|
|105   |0393045218|The Mummies of Urumchi                                                                            |E. J. W. Barber     |1999|
|106   |0399135782|The Kitchen God's Wife                                                                            |Amy Tan             |1991|
|107   |0425176428|What If?: The World's Foremost Military Historians Imagine What Might Have Been                   |Robert Cowley       |2000|
|108   |0671870432|PLEADING GUILTY                                                                                   |Scott Turow         |1993|
|109   |0679425608|Under the Black Flag: The Romance and the Reality of Life Among the Pirates                       |David Cordingly     |1996|
|110   |074322678X|Where You'll Find Me: And Other Stories                                                           |Ann Beattie         |2002|
|111   |0771074670|Nights Below Station Street                                                                       |David Adams Richards|1988|
|112   |080652121X|Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust                        |Adam Lebor          |2000|
|113   |0887841740|The Middle Stories                                                                                |Sheila Heti         |2004|
|114   |1552041778|Jane Doe                                                                                          |R. J. Kaiser        |1999|
|115   |1558746218|A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)                     |Jack Canfield       |1998|
|116   |1567407781|The Witchfinder (Amos Walker Mystery Series)                                                      |Loren D. Estleman   |1998|
|117   |1575663937|More Cunning Than Man: A Social History of Rats and Man                                           |Robert Hendrickson  |1999|
|118   |1881320189|Goodbye to the Buttermilk Sky                                                                     |Julia Oliver        |1994|
|119   |0440234743|The Testament                                                                                     |John Grisham        |1999|
|120   |0452264464|Beloved (Plume Contemporary Fiction)                                                              |Toni Morrison       |1994|
+------+----------+--------------------------------------------------------------------------------------------------+--------------------+----+
only showing top 20 rows

+-------+-----------------+--------------------+--------------------+-----------------+------------------+
|summary|           BookSK|              BookBK|            BookName|           Author|              Year|
+-------+-----------------+--------------------+--------------------+-----------------+------------------+
|  count|           271236|              271236|              271236|           271236|            271236|
|   mean|         135718.5|1.0414250058527002E9|            Infinity|           1000.0|1675.5599772891503|
| stddev|78299.23314439293|1.4881616872435763E9|                 NaN|1412.799348810722| 730.0247895246532|
|    min|              101|          0000913154|           : A Novel|                 |                 0|
|    max|           271336|          9999999999|¡Trato hecho!: Sp...|   �?�?ric Holder|              2021|
+-------+-----------------+--------------------+--------------------+-----------------+------------------+

In [ ]:
DIM_BOOKS.createTempView("Books")

spark.sql(
    '''
    select * from Books
    where Year not BETWEEN 1000 AND 2022 and Year !=0
    '''
).show()

+------+------+--------+------+----+
|BookSK|BookBK|BookName|Author|Year|
+------+------+--------+------+----+
+------+------+--------+------+----+

In [ ]:
spark.sql(
    '''
    select * from Books
    where length(BookBK) != 10
    '''
).show()

+------+------------+--------------------+-------------+----+
|BookSK|      BookBK|            BookName|       Author|Year|
+------+------------+--------------------+-------------+----+
|110325|0486404242\t|War in Kind: And ...|Stephen Crane|1998|
+------+------------+--------------------+-------------+----+

In [ ]:
DIM_BOOKS = spark.sql(
    '''
    select * from Books
    where length(BookBK) = 10
    '''
)

In [ ]:
DIM_BOOKS.createTempView("xxx")

spark.sql(
    '''
    select * from xxx
    where length(BookBK) != 10
    '''
).show()

+------+------+--------+------+----+
|BookSK|BookBK|BookName|Author|Year|
+------+------+--------+------+----+
+------+------+--------+------+----+

In [ ]:
pandasDF = DIM_BOOKS.toPandas()
pandasDF.to_csv(r'/content/drive/MyDrive/Books_Rating/Fixed_CSV/DIM_BOOKS.csv',mode='w+', encoding='utf-8', index=False)

In [ ]:
spark.stop()